<section class="answers">
  <img src="@img/bg-shadow.png" class="answers__bg">
  <img src="@img/lift.png" alt="Лифт" class="answers__lift">
  <div class="container">
    <h2 class="title answers__title">Ответы на часто задаваемые вопросы</h2>
    <div data-spollers data-one-spoller class="answers__info">
      <div class="answers__spoller">
        <button data-spoller class="btn-null answers__btn">
          Как согласовать выезд эксперта на осмотр объекта?
        </button>
        <div>
          <p class="answers__info-content">
            Вы можете позвонить по нашему номеру, либо оставить заявку на нашем сайте. Специалист
            проконсультирует вас по всем возникшим вопросам, а также согласует удобные для вас дату
            и время осмотра квартиры.
          </p>
        </div>
      </div>
      <div class="answers__spoller">
        <button data-spoller class="btn-null answers__btn">
          Какие инструменты используется при осмотре объекта?
        </button>
        <div>
          <p class="answers__info-content">
            Вы можете позвонить по нашему номеру, либо оставить заявку на нашем сайте. Специалист
            проконсультирует вас по всем возникшим вопросам, а также согласует удобные для вас дату
            и время осмотра квартиры.
          </p>
        </div>
      </div>
      <div class="answers__spoller">
        <button data-spoller class="btn-null answers__btn">
          Почему лучше не тянуть со взысканием компенсации за строительные дефекты?
        </button>
        <div>
          <p class="answers__info-content">
            Вы можете позвонить по нашему номеру, либо оставить заявку на нашем сайте. Специалист
            проконсультирует вас по всем возникшим вопросам, а также согласует удобные для вас дату
            и время осмотра квартиры.
          </p>
        </div>
      </div>
      <div class="answers__spoller">
        <button data-spoller class="btn-null answers__btn">
          Можно ли взыскать компенсацию до подписания акта приема-передачи?
        </button>
        <div>
          <p class="answers__info-content">
            Вы можете позвонить по нашему номеру, либо оставить заявку на нашем сайте. Специалист
            проконсультирует вас по всем возникшим вопросам, а также согласует удобные для вас дату
            и время осмотра квартиры.
          </p>
        </div>
      </div>
      <div class="answers__spoller">
        <button data-spoller class="btn-null answers__btn">
          Суд может отказать во взыскании компенсации за недостатки?
        </button>
        <div>
          <p class="answers__info-content">
            Вы можете позвонить по нашему номеру, либо оставить заявку на нашем сайте. Специалист
            проконсультирует вас по всем возникшим вопросам, а также согласует удобные для вас дату
            и время осмотра квартиры.
          </p>
        </div>
      </div>
      <div class="answers__spoller">
        <button data-spoller class="btn-null answers__btn">
          О какой сумме компенсации за недостатки может идти речь?
        </button>
        <div>
          <p class="answers__info-content">
            Вы можете позвонить по нашему номеру, либо оставить заявку на нашем сайте. Специалист
            проконсультирует вас по всем возникшим вопросам, а также согласует удобные для вас дату
            и время осмотра квартиры.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
