<header class="header">
	<div class="container header__container">
		<a href="#" class="header__logo">
			<img src="@img/logo.svg" width="180" alt="Монти">
		</a>
		<div class="header__messenegers">
			<div class="header__messenegers-buttons">
				<a href="#" target="_blank" class="header__messenegers-btn">
					<img src="@img/icons/whatsapp.svg" alt="Whatsapp" class="header__messenegers-icon">
				</a>
				<a href="#" target="_blank" class="header__messenegers-btn">
					<img src="@img/icons/telegramm.svg" alt="Telegramm" class="header__messenegers-icon">
				</a>
			</div>
			<p class="header__messenegers-content">Задать вопрос в 1 клик</p>
		</div>
		<p class="header__hours-work">Работаем с 10:00 до 20:00 по МСК</p>
		<div class="header__contact">
			<a href="tel:+74951395942" class="header__contact-tel">+7(495)139-59-42</a>
			<a href="mailto:info@montee-pro.ru" class="header__contact-mail">info@montee-pro.ru</a>
		</div>
		<a href="#" class="btn btn-stroke header__call">Перезвоните мне</a>
	</div>
</header>