<section class="hero">
  <img src="@img/cube.png" alt="Cube" class="hero__img-bg hero__img-bg--cube">
  <img src="@img/crane.png" alt="Cube" class="hero__img-bg hero__img-bg--crane">
  <div class="container">
    <h1 class="title title-1 hero__title">
      Аренда коленчатых подъемников в Москве и МО <span>в наличии от 1700 руб. / сутки</span>
    </h1>
    <ul class="list hero__advantages">
      <li class="hero__advantages-item">
        <img src="@img/icons/icon-new.png" width="70" alt="New" class="hero__advantages-icon" />
        <p class="hero__advantages-content">В наличии <span>новая техника</span></p>
      </li>
      <li class="hero__advantages-item">
        <img src="@img/icons/icon-clock.png" width="50" alt="Clock" class="hero__advantages-icon" />
        <p class="hero__advantages-content">Привезём на точку <span>за 2-3 часа</span></p>
      </li>
      <li class="hero__advantages-item">
        <img src="@img/icons/icon-percent.png" width="55" alt="Percent" class="hero__advantages-icon" />
        <p class="hero__advantages-content">При долгосрочной аренде <span>дешевле</span></p>
      </li>
    </ul>
    <div class="hero__buttons">
      <a href="#" class="btn btn-primary hero__btn-lift">Подобрать подъемник</a>
      <a href="#" class="btn btn-dashed hero__btn-reviews">Посмотреть отзывы</a>
    </div>
  </div>
</section>
