.btn-null {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  border-radius: 0;
  border: none;
  padding: 0;
  text-align: left;
}
.btn {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid var(--green);
  color: inherit;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  transition: color .2s ease, background-color .2s ease;
  @include tablet {
    padding: 15px;
    font-size: 14px;
  }
  &.btn-stroke {
    &.active {
      background-color: var(--green);
      color: white;
    }
    @include hover {
      background-color: var(--green);
      color: white;
    }
  }
  &.btn-primary {
    font-weight: 700;
    color: white;
    background-color: var(--green);
    &:hover {
      color: black;
      background-color: transparent;
    }
  }
  &.btn-dashed {
    border-style: dashed;
    @include hover {
      background-color: var(--green);
      color: white;
    }
  }
}
