.btn {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-weight: 500;
  border: 1px solid var(--green);
  color: inherit;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  transition: color .2s ease, background-color .2s ease;
  @include tablet {
    padding: 15px;
    font-size: 14px;
  }
  &.btn-stroke {
    @include hover {
      background-color: var(--green);
      color: white;
    }
  }
  &.btn-primary {
    font-weight: 700;
    color: white;
    background-color: var(--green);
    box-shadow: 4px 4px 0 0 var(--green-black);
    &:focus {
      transform: translate(4px, 4px);
      box-shadow: none;
    }
  }
  &.btn-dashed {
    border-style: dashed;
    @include hover {
      background-color: var(--green);
      color: white;
    }
  }
}
